lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# python .gitignore
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64

# django testdb
db.*

# added by shavakan
*.pyc
*.swo
*.swp
*.json	# only to be used for local tests as of now
