
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/annote.css">
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery.color-2.1.2.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/annote.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        Selection.initialize();
    });
</script>
    </head>
    <body>
        <div id="wrapper">
            <div id="wrapper-popup" style="opacity: 0; display: none;">
                <div id="popup-range">
                    <section id="popup-select" style="opacity: 0; display: none;">
                        <button type="button" class="write" id="btn-write">Comment</button>
                        <button type="button" class="cancel">Cancel</button>
                    </section>
                    <section id="popup-write" style="opacity: 0; display: none;">
                        <form method="POST" class="popup-login-form" action="/annote/write/">
                            {% csrf_token %}
                            <div class="input-username">
                                <label class="write-form-label" for="username">Author:</label>
                                <input type="text" id="username" name="username">
                            </div>
                            <div class="input-comment">
                                <label class="write-form-label" for="content">Comment:</label>
                                <input type="text" id="content" name="content">
                            </div>
                            <div class="input-reference">
                                <label class="write-form-label" for="reference">Reference:</label>
                                <input type="text" id="reference" name="reference">
                            </div>
                            <div class="input-enter">
                                <button type="submit">Submit</button>
                                <button type="button" class="close" id="btn-write-close">Close</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div id="article">
                <h2 class="article-title">
                    계모사건이 아니라 아동 학대사건이다
                </h2>
                <p class="article-content" id="article-content">
                부러지도록 때려 숨지게 하거나 동생을 장 파열로 숨지게 하고 언니에게 죄를 뒤집어씌운 이 두 사건은 가정에서 일어난 지속적인 아동폭행이라는 점에서 사회적 파장이 컸고, 비난여론도 거셌다. 여기에 두 사건 가해자가 공교롭게도 모두 친엄마가 아니었다는 점에서 이 사건은 '계모 사건'이 되고 말았다. 
                    <br><br>
                    극단적인 아동 학대의 상징이 돼버린 이 '계모 사건'은 그러나 또 다른 피해를 낳고 있다. 
                    <br><br>
                    재혼을 통해 새롭게 가정을 꾸민 새엄마를 잠재적 가해자로 둔갑시켰고, 함께 살게 된 자녀들도 그 부담을 떠안게 된 것이다. 세간의 눈총을 의식해 자녀들에게 큰 소리로 나무라기도 힘들게 됐다는 하소연이 잇따르고 있다. 의도하지는 않았겠지만 아동 학대라는 사건의 본질보다는 재혼 가정의 문제, 의붓자식을 둔 새엄마의 문제로 부각되고 있는 것이다. 이른바 '계모 사건'이라는 굴레가 우리 사회에 엉뚱한 문제를 낳고 있다. 
                    <br><br>
                    통계로도 확인되듯 아동학대는 재혼가정이나 친부모 여부와는 전혀 관계가 없다. 보건복지부의 자료를 보면 지난해 보고된 아동학대는 6천 8백여 건으로 이 가운데 계모에 의한 것은 2.1%에 불과했다. 가해자가 친부모인 경우가 80.3%로 대부분을 차지했다. 지난해만 그런 것이 아니라 그 이전에도 그랬다. PC방에서 게임을 즐기다 15개월 된 딸을 방치해 숨지게 한 사건이나 2살 된 아들을 방치해 숨지게 한 후, 쓰레기봉투에 버린 최근의 사건 역시 친부모가 저질렀다. 
                    <br><br>
                    통계청 분석을 보면 2012년 우리나라의 재혼 건수는 10만 6천 6백여 건으로 30년 전에 비해 1.5배나 늘었다. 상당수 재혼 커플이 혼인 신고를 하지 않는 것을 감안하면 실제 재혼 가정은 훨씬 더 많을 것이다. 이혼이나 재혼이 부끄러워하거나 손가락질 받을 이유는 없다. 오히려 새로운 가정이 자연스럽게 잘 정착될 수 있도록 도와줘야 하는 것이 우리 사회에게 주어진 책무이기도 하다. 그런데도 극히 이례적인 사안이 마치 전체인양 침소봉대되는 것은 심각한 문제다. 
                    <br><br>
                    아동 학대 사건이 '계모 사건'으로 인식되는 데는 언론의 책임이 크다. 더 이상 이번 사건과 같은 아동 학대의 비극은 없어야겠지만 사건을 단순하고 자극적으로 다루면서 계모에 초점을 맞춘 학대로 다룬 것이 잘못됐다는 것이다. 이것이 '백설공주'나 '콩쥐팥쥐' 같은 동화 속의 나쁜 새엄마를 연상시키면서 재혼 가정의 부모와 아이들 모두를 피해자로 만들고 있는 것이다. 따라서 지금이라도 사건의 명칭을 '계모 사건'이 아니라 사건의 본질인 '아동 학대 사건'으로 불러야 마땅하다. 단순한 가정 폭력이 엄청난 비극을 초래할 수도 있다는 점을 우리 사회가 이번 사건을 계기로 다시 한 번 깨달아야 한다. 또한 사건으로 상처 받은 재혼 가정의 아이들을 위해 교육당국의 적절한 보살핌과 지도가 필요하다.
                </p>
            </div>
            <div id="wrapper-comment">
                {% if comments %}
                <ul>
                    {% for comment in comments %}
                    <li class="li-comment">
                        <div class="comment-area-box">
                            <div class="comment-area-username">{{ comment.username }}</div>
                            <div class="comment-area-content">{{ comment.content }}</div>
                            <div class="comment-area-reference">{{ comment.reference }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    

</body></html>
