{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/autosize/jquery.autosize.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/range.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/session.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/article.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/comment.js"></script>
<script type="text/javascript">
    $(window).bind('load', function(){
        Article.DATA = {{data|safe}};
        Article.initialize();
        Range.initialize();
        Comment.initialize();
        Session.initialize();

        Session.data = "{% csrf_token %}"
    });
</script>
{% endblock %}
{% block content %}
<div id="title-wrapper">
    <div id="title-section">
        <!--<a href="{{article.s_url}}"class="title-source">
            {{article.s_name}}
        </a>-->
        <time class="title-date">
            {{article.date|date:"Y년 n월 j일 l"}}
        </time>
        <h4 class="title-name">
            {{article.title}}
        </h4>
    </div>
</div>
<div id="content-wrapper">
    <div id="close-wrapper"></div>
    <article id="article-wrapper">
        <div id="article-section">
            <a id="pre-survey" class="survey" target="_blank" href="{{article.pre_survey}}">기사 읽기 전 설문 조사</a>
            {% for p in paragraphs %}
            <p id="p-{{p.id}}" class="article-paragraph">
                {{p.content}}
            </p>
            {% endfor %}
            <a id="post_survey" class="survey" target="_blank" href="{{article.post_survey}}">기사 읽은 후 설문 조사</a>
        </div>
        <div id="button-section"></div>
        <div id="fc-sum-section"></div>
        <div id="highlight-section"></div>
        <div id="menu-section">
            <div class="menu-button">
                <button type="button" class="add-question" title="질문 남기기">Add question</button>
                <button type="button" class="add-factcheck" title="신뢰 점수 매기기">Add fact checker</button>
                <button type="button" class="add-request" title="사실 확인 요청하기">Add fact check request</button>
            </div>
            <div class="menu-req-button">
                <button type="button" class="add-factcheck" title="내가 사실 확인하기">Add fact checker</button>
                <button type="button" class="add-request" title="나도 사실 확인 요청하기">Add fact check request</button>
            </div>
            <div class="menu-add-factcheck">
                <div class="fc-score-input">
                    <h3>신뢰 점수 (0~5)</h3>
                    <div class="fc-score-input-section">
                        <button type="button" class="score" title="0점">0</button>
                        <button type="button" class="score" title="1점">1</button>
                        <button type="button" class="score" title="2점">2</button>
                        <button type="button" class="score" title="3점">3</button>
                        <button type="button" class="score" title="4점">4</button>
                        <button type="button" class="score" title="5점">5</button>
                    </div>
                    <div class="fc-score-criteria">
                        <span class="low">신뢰성이 낮음(0)</span>
                        <span class="high">신뢰성이 높음(5)</span>
                    </div>
                </div>
                <div class="fc-ref-input">
                    <h3>신뢰 근거</h3>
                    <div class="fc-ref-input-section">
                        <input type="text" placeholder="관련 링크를 남겨주세요">
                    </div>
                </div>
                <div class="fc-submit">
                    <button type="button" class="submit">등록하기</button>
                    <span class="deco">&middot;</span>
                    <button type="button" class="cancel">취소하기</button>
                </div>
            </div>
            <div class="menu-add-question">
                <span>질문을 남겨주세요.</span>
                <textarea class="q-input"></textarea>
                <button class="q-submit">확인</button>
                <button class="q-close">취소</button>
            </div>
        </div>
        <div id="fc-list-section">
            <div class="fc-list">
                <span class="fc-score-title">평균 점수</span>
                <button class="fc-score-new">내 의견 추가하기</button>
                <div class="fc-score">
                    <span class="fc-score-mask"></span>
                    <span class="fc-score-bar"></span>
                    <span class="fc-score-bg"></span>
                </div>
                <ul class="fc-url-list">
                    <li>
                        <a href="http://naver.com">
                            <span class="fc-ref-score"></span>
                            <span class="fc-ref-link"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    <aside id="comment-wrapper">
        <ul id="commbtn-section">
            {% for p in paragraphs %}
            <li class="comment-summary" id="cmnt-summary-{{p.id}}">
                <button type="button" id="cmnt-summary-btn{{p.id}}" title="질문과 답변 보기">comment button</button>
                <span class="comm-num">{{p.c_count}}</span>
            </li>
            {% endfor %}
        </ul>
        <div id="cmntlist-section"></div>
    </aside>
</div>
{% endblock %}
