/* TITLE */

#title-wrapper{
    width:100%;
    min-height:180px;
    background:#f5f7f7;
    overflow:hidden;
}
#title-section{
    width:1000px;
    height:100%;
    margin:0 auto;
}
#title-section *{
    float:left;
}
#title-section .title-source{
    font-size:15px;
    font-weight:400;
    color:#08b0d8;
    margin-top:56px;
}
#title-section .title-date{
    font-size:15px;
    font-weight:400;
    color:#8d9396;
    margin-top:56px;
}
#title-section .title-date::before{
    content:"\00a0\00b7 ";
}
#title-section .title-name{
    font-size:28px;
    font-weight:700;
    line-height:36px;
    color:#393d3e;
    clear:both;
    margin-top:16px;
    padding-bottom:56px;
    max-width:700px;
}

/* ARTICLE */

#content-wrapper{
    width:1000px;
    margin:0 auto;
    background:#fff;
    overflow:hidden;
}
#article-wrapper{
    float:left;
    width:700px;
    position:relative;
}
#comment-wrapper{
    float:right;
    width:294px;
    margin-left:6px;
    position:relative;
}
#article-section{
    font-size:16px;
    font-weight:400;
    letter-spacing:1px;
    word-spacing:1px;
    color:#3a3e3f;
    line-height:26px;
    margin-top:36px;
    margin-bottom:72px;
    position:relative;
    z-index:10;
}
#article-section>p{
    margin-bottom:24px;
    position:relative;
}

/* ARTICLE FACT CHECK LIST BUTTON */

#button-section>button{
    width:18px;
    height:18px;
    background:url("/media/res/btn_fc_list.png") 0 0 no-repeat;
    text-indent:-9999px;
    cursor:pointer;

    position:absolute;
    top:48px;
    left:264px;
    z-index:20;
}
#button-section>button:hover{
    background-position:0 -18px;
}

/* ARTICLE FACT CHECK SUM SPAN */

#fc-sum-section>span{
    width:58px;
    height:30px;
    padding-left:30px;
    padding-top:8px;
    font-size:12px;
    font-weight:700;
    color:#303435;
    background:url("/media/res/bg_fc_sum.png") 0 0 no-repeat;

    position:absolute;
    top:42px;
    left:284px;
    z-index:20;
    display:none;
}

/* HIGHLIGHT SECTION */

#highlight-section>span.hl-01{
    background:rgba(255,202,17,0.2);
    height:19px;
    width:275px;

    position:absolute;
    top:39px;
    left:0px;
    z-index:5;
    display:none;
}

/* ARTICLE MENU */

#menu-section>div.menu-button{
    width:72px;
    height:42px;
    padding-top:6px;
    background:url("/media/res/bg_menu.png") 0 0 no-repeat;
    display:none;
    position:absolute;
    z-index:20;
}
#menu-section>div.menu-button button{
    width:36px;
    height:36px;
    float:left;
    text-indent:-9999px;
    cursor:pointer;
}
#menu-section>div.menu-button button.add-question{
    background:url("/media/res/btn_add_q.png") 0 0 no-repeat;
}
#menu-section>div.menu-button button.add-factchecker{
    background:url("/media/res/btn_add_c.png") 0 0 no-repeat;
}
#menu-section>div.menu-button button:hover{
    background-position:0 -36px;
}

/* FACT CHECK LIST */

#fc-list-section>div.fc-list-01{
    width:246px;
    height:246px;
    padding:9px 3px 3px 3px;
    background:url("/media/res/bg_fc_list.png") 0 0 no-repeat;
    position:absolute;
    top:68px;
    left:150px;
    z-index:20;
    display:none;
}
#fc-list-section .fc-score{
    font-size:24px;
    font-weight:700;
    color:#474a4e;
    margin:16px auto;
    text-align:center;
}

/* ARTICLE Q&A LIST BUTTON */

#commbtn-section{
    float:left;
    width:38px;
    position:relative;
}
#commbtn-section>li{
    position:absolute;
    z-index:20;
    left:0;
}
/* TODO: make below relative to article */
#commbtn-section>li.comment-summary-1{top:44px;}
#commbtn-section>li.comment-summary-2{top:95px;}
#commbtn-section>li.comment-summary-3{top:224px;}
#commbtn-section button{
    float:left;
    width:16px;
    height:16px;
    text-indent:-9999px;
    background:url("/media/res/btn_comm_list.png") 0 0 no-repeat;
    cursor:pointer;
}
#commbtn-section button:hover{
    background-position:0 -16px;
}
#commbtn-section span.comm-num{
    float:left;
    font-size:10px;
    font-weight:400;
    color:#d4d5d6;
    margin-top:2px;
    margin-left:6px;
}

/* ARTICLE Q&A */
#cmntlist-section {
    margin-left: 44px;
}
.cmnt-family {
    margin-top: 18px;
}
.cmnt-family span.user-name {
    margin-bottom: 2px;
}
.cmnt-question {
    margin-bottom: 5px;
}
.cmnt-question .cmnt-section {
    margin-left: 38px;
    font-size: 14px;
    line-height: 140%;
}
.cmnt-answer {
    margin-left: 36px;
    margin-bottom: 5px;
}
.cmnt-answer .cmnt-section {
    margin-left: 32px;
    font-size: 14px;
    line-height: 140%;
}
.cmnt-question .user-image {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    border-radius: 16px;
}
.cmnt-answer .user-image {
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 14px;
}
.cmnt-response-section {
    display: inline-block;
}
#cmnt-answer-content {
    width: 161px;
    font-size: 14px;
    color: #a0a8aa;
    resize: none;
}
.cmnt-answer-btn-section {
    margin-top: 10px;
}
.cmnt-answer-btn-section>input {
    float: left;
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}
.cmnt-answer-btn-section>button {
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    font-size: 12px;
    cursor: pointer;
}
.cmnt-answer-img {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}
#cmnt-answer-btn {
    margin-left: 6px;
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    cursor: pointer;
}
#cmnt-write>input {
    margin-left: 18px;
    margin-top: 6px;
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    cursor: pointer;
}
.cmnt-content {
    height: 100%;
    margin-bottom: 5px;
}

.user-name {
    font-weight: bold;
    font-size: 14px;
}
.cmnt-type {
    float: left;
    color: #ff754e;
}
.cmnt-response {
    word-wrap: break-wrap;
    height: 100%;
    font-size: 12pt;
}
.cmnt-reference {
    word-break: break-word;
    width: 100%;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 120%;
    color:#a0a8aa;
}
.cmnt-vote {
    float: left;
    margin-right: 3px;
    font-size: 12px;
    color: #00627a;
}
.cmnt-numvotes {
    float: left;
    margin-right: 2px;
    font-size: 12px;
    color: #a3aaac;
}
