/* ARTICLE Q&A LIST BUTTON */

#commbtn-section{
    float:left;
    width:38px;
    position:relative;
}
#commbtn-section>li{
    position:absolute;
    z-index:20;
    left:0;
}
#commbtn-section button{
    float:left;
    width:16px;
    height:16px;
    text-indent:-9999px;
    background:url("/media/res/btn_comm_list.png") 0 0 no-repeat;
    cursor:pointer;
}
#commbtn-section button:hover{
    background-position:0 -16px;
}
#commbtn-section span.comm-num{
    float:left;
    font-size:10px;
    font-weight:400;
    color:#d4d5d6;
    margin-top:2px;
    margin-left:6px;
}

/* ARTICLE Q&A */
#commlist-section {
    margin-left: 44px;
}
.cmnt-family {
    margin-top: 18px;
}
.cmnt-family span.user-name {
    margin-bottom: 2px;
}
.cmnt-question {
    margin-bottom: 5px;
}
.cmnt-question .cmnt-section {
    margin-left: 38px;
    font-size: 14px;
    line-height: 140%;
}
.cmnt-answer {
    margin-left: 36px;
    margin-bottom: 5px;
}
.cmnt-answer .cmnt-section {
    margin-left: 32px;
    font-size: 14px;
    line-height: 140%;
}
.cmnt-question .user-image {
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    border-radius: 16px;
}
.cmnt-answer .user-image {
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 14px;
}
.cmnt-response-section {
    display: inline-block;
}
#cmnt-answer-content {
    width: 161px;
    font-size: 14px;
    color: #a0a8aa;
    resize: none;
}
.cmnt-answer-btn-section {
    margin-top: 10px;
}
.cmnt-answer-btn-section>input {
    float: left;
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}
.cmnt-answer-btn-section>button {
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    font-size: 12px;
    cursor: pointer;
}
.cmnt-answer-img {
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}
#cmnt-answer-btn {
    margin-left: 6px;
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    cursor: pointer;
}
#cmnt-write>input {
    margin-left: 18px;
    margin-top: 6px;
    border: 0px;
    outline: none;
    background: none;
    color: #08afd8;
    cursor: pointer;
}
.cmnt-content {
    height: 100%;
    margin-bottom: 5px;
}

.user-name {
    font-weight: bold;
    font-size: 14px;
}
.cmnt-type {
    float: left;
    color: #ff754e;
}
.cmnt-response {
    word-wrap: break-wrap;
    height: 100%;
    font-size: 12pt;
}
.cmnt-reference {
    word-break: break-word;
    width: 100%;
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 120%;
    color:#a0a8aa;
}
.cmnt-vote {
    float: left;
    margin-right: 3px;
    font-size: 12px;
    color: #00627a;
}
.cmnt-numvotes {
    float: left;
    margin-right: 2px;
    font-size: 12px;
    color: #a3aaac;
}
